<!DOCTYPE html>
<html>
<head>
  <title>Course Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {background-color: powderblue;
      text-align: center;
      font-family: "Calibri", sans-serif;}
h1   {color: #0000cd;}
h2   {color: #4c4cff;
      font-style: italic;}
p    {color: #191970;}
h3   {font-style: underline;
      font-style: italic;}
a {
  color: #191970;
}
</style>
<body>
  <h1>Welcome to the Fall Semester!</h1><br>
    <h2>Teachers of Flatiron High School Only</h2><br><br>
    <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
<%= yield %>
<br>

</body>
</html>
