<!DOCTYPE html>
<html>
<head>
  <title>Course Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> <p class="text-center">Welcome to the Fall Semester!</h1><br>
    <h2>Teachers of Flatiron High School Only</h2><br><br>

<%= yield %>
<br>
<h4>New to Flatiron High School? Create an account <%= link_to "here!", new_teacher_path %></h4>
</p>
</body>
</html>
