<div class="student-body">
  <h1>STUDENT GRADES</h1>
    <%= @student.first_name %> <%= @student.last_name%><br>
  <div class="student-card">
        <% @student.grades.each do |grade| %>
      Behavior: <%= grade.behavior %><br>
      Score: <%= grade.score %><br>
      <% if current_user == grade.user %>
        <%= link_to 'Update Grade', edit_student_grade_path(@student, grade) %><br>
        Submitted by: <%= grade.user.email %>
        <% else %>
        Submitted by: <%= grade.user.email %>
      <% end %>
<% end %>
<br>
<%= link_to "Add a Grade for #{@student.first_name}", new_student_grade_path(@student) %>
</div>
<div class="student-links">
  <%= link_to "Back to All Students", students_path %>
</div>
