<h1>Students in Course <%= @course.number %> - <%= @course.name %></h1><br>
<% @students.each do |student| %>
  <%= student.first_name %>
  <%= student.last_name %> |
  <%= link_to "Student Profile", course_student_path(student) %><br>
<% end %>
