<div class="student-body">
  <h1>STUDENT PROFILE</h1><br>

<div class="student-card">
  <%= @student.first_name %> <%= @student.last_name %>
  <% if @student.grades.nil? %>
No grades available for <%= @student.first_name %> <%= @student.last_name %>.<br>
    <%= link_to "Add Grades for #{@student.first_name}", new_student_grade_path(@student) %>
  <% else %>
  <%= link_to "View #{@student.first_name}'s Grades", student_grades_path(@student) %>
      <% end %>
</div>

<br>
<div class="student-links">
  <%= link_to "Enroll a New Student", new_student_path %><br>
  <%= link_to "Back to All Students", students_path %>
</div>
</div>
