<h2>Student Profile</h2>

  <h4><%= @student.first_name %> <%= @student.last_name %></h4><br>

<% @grade = @student.grades %>
  <% if @grade.nil? %>
<h4>No grades available for <%= @student.first_name %> <%= @student.last_name %>.</h4>
    <%= link_to "Add Student Grades", new_student_grade_path(@student, @grade) %>
  <% else %>
    <%= link_to "Edit Student Grades", student_grades_path(@student) %><br>
      <% end %>
<br>
<h3><%= link_to "Back to All Students", students_path %></h3>
