<h2>Student Profile</h2><br>

  <p><%= @student.first_name %> <%= @student.last_name %></p><br>

<h3>Fall 2018 Enrolled Course</h3><br>

<% @course = @student.course %>
  <%= @course.number %> - <%= @course.name %><br>


  <% if logged_in? %>
    <%= link_to "Edit Student Grades", edit_grade_path %>
    <% else %>
      <%= form_for @grade do |f|%>
      <%= f.hidden_field :behavior, value: @grade.behavior %>
      <%= f.hidden_field :letter_grade, value: @grade.letter_grade %>
      <%= f.submit "Add New Grade" %>
      <% end %>
  <% end %>
