<h3>Welcome back, <%= current_user.email %></h3>
<h4>Your Students</h4> <br>
<% @students = Student.all %>
<% if @students.empty? %>
<h4>No students? <p><%= link_to 'Click Here to Add a Student', new_student_path %></p></h4>
<% else %>
  <% @students.each do |student| %><br>
<div>
  <%= student.first_name + student.last_name%><br>
  <% student.grades.each do |grade| %>
<li>
  <%= grade.behavior %> - <%= grade.letter_grade %></li>
<% end %></div>
<% end %>
<% end %>
