<% if logged_in? %>
<% @teacher = current_teacher %>
  Welcome Back, <%= @teacher.username %>.
<h3><p><%= link_to 'Teacher Homepage', teacher_path(@teacher) %></p>
<p><%= link_to "Log out", logout_path %></p>
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook')%><br>
  <%= link_to "Log in", login_path %><br>
<%= link_to "Sign Up", new_teacher_path %></h3>
<% end %>
